<mat-card class="card-content mat-elevation-z8">
  <mat-card-content>
    <div fxLayout="row" class="rows-style">
      <div fxFlex="30%" class="first-row" fxLayoutAlign="center center">
        <mat-card-title-group>
          <mat-card-title class="text-oneline">Mlekara</mat-card-title>
          <mat-card-subtitle class="text-text">Prerađujemo mleko i proizvodimo ukusne mlečne proizvode. Novi proizvodi nastaju od visokokvalitetnog mleka sa domaćih farmi i temelje se na kvalitetu bez kompromisa.</mat-card-subtitle>
        </mat-card-title-group>
      </div>
      <div fxFlex="70%" fxLayoutAlign="center center">
        <img mat-card-image class="image" style="margin-top: 0" src="./assets/slika.png">
      </div>
      </div>
  </mat-card-content>
</mat-card>




