@media screen and (max-width: 30rem) and (min-width: 900px), (min-width: 900px) {
  .card-potvrda-container {
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;
    margin-bottom: 1.7%;
    border-radius: 0;
  }
}
.card-potvrda-title{
  border-bottom: 1px solid grey;
  font-size: 21px;
}
.example-form {
  min-width: 20rem;
  width: 100%;
  border-bottom: 1px solid #dfdfdf;
  font-size: 13.5px;
  color : grey;
}
.example-full-width {
  max-width: 90%;
  margin-left: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.example-full-first{
  width: 80%;
  margin-left: 10%;
  margin-top: 2%;
}
.example-full-end{
  margin-top: 1%;
  margin-bottom: 1%;
}
.example-button-row{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.example-button-row-save{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1%;
  margin-bottom: 1%;
}
.example-label{
  margin-left: auto;
}
.button-example{
  color: grey;
  width: 10rem;
  border-radius: 0;
}
.table-potvrda{
  width: 100%;
  margin-top: 5px;
}
.table-row-height{
  height: 30px;
  word-wrap: break-word;
}
.table-date-size{
  font-size: 13px;
  text-align: center;
  padding-left: 0.3%;
  padding-right: 0.3%;
}
.td-button {
  margin-right: 1%;
  padding-right: 8px;
}
td, th {
  width: 17%;
}
th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
  padding-left: 0;
}
th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
  padding-right: 0;
}
.example-width{
  margin-right: auto;
}
.example-width-opis{
  margin-right: auto;
  width: 40%;
}
.example-width-end{
  margin-left: 2%;
  max-width: 100%;
}
.container {
  min-height: 100%;
  max-width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  margin-top: 1%;
  margin-bottom: 1%;
}
